/* Reset de estilos para garantir consistência entre navegadores */
/* Aqui estou usando um reset CSS simples */
html, body, h1, h2, h3, h4, h5, h6, p, ul, li, form, button {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
  }
  
  /* Estilos do cabeçalho */
  .header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  .header h1 {
    font-size: 2em;
  }
  
  .navbar {
    margin-top: 20px;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  
  .navbar li {
    margin-right: 20px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: #ddd;
  }
  
  /* Estilos da seção principal */
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
  }
  
  .section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  /* Estilos do formulário do fórum */
  .forum {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
  }
  
  .forum form {
    margin-bottom: 20px;
  }
  
  .forum label {
    display: block;
    margin-bottom: 10px;
  }
  
  .forum textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .forum button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .forum button:hover {
    background-color: #555;
  }
  
  /* Estilos do rodapé */
  .footer {
    text-align: center;
    padding: 10px 0;
    background-color: #ddd;
  }
  